{% extends "base.html" %}
{% block content %}

  <div class="row jumbotron">
    <span class="span4 pull-right">
      <img src="img/tabouret.jpg" class="img-rounded">
    </span>
    <span class="span8">
      <h1>Tabouret</h1>
      <p><em>A small Bench.</em></p>
    </span>
  </div>

  <div class="row">
    <div class="span12">
      <a class="btn btn-default" href="apidoc" role="button">API documentation</a>
      <a class="btn btn-default" href="about" role="button">About this webapp</a>
    </div>
  </div>
{% endblock %}
